/* Sectiom */
section{
    height: calc(100vh - 100px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
/* Label in alto a destra */
.cont-label{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 12%;
}
.cont-label > div{
    display: flex;
    align-items: center;
    padding: 5px 5px;
    background-color: grey;
    border-radius: 5px;
}



/* Griglia di immagini */
.cont-grid{
    width: 90%;
    height: 90%;
    overflow-y: auto;
}
.img-n{
    flex-basis: calc((100% / 7) - 5px);
    height: calc((100% / 5) - 10px);
    margin-right: 5px;
    margin-bottom: 10px;
    position: relative;
}
.label{
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px;
    
}
.img-n > img{
    width: 100%;
    height: 100%;
}

/* Footer */
.cont-footer{
    height: 100px;
}

.block-sx{
    flex-basis: 20%;
    height: 100%;
    
}
.cont-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.block-cx{
    flex-basis: 50%;
    height: 100%;
    
}
/* Margin right ad Invite per centrarlo meglio */
.block-cx > .cont-icon:nth-of-type(1) > p{
  margin-right: 10px;
}
.block-dx{
    /* width: 10%; */
    height: 100%;
    background-color: #4a4a4a;
}