*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-wrap: break-word;
}
/* Padding */
.p-xr-10{
    padding-right: 10px;
}
.p-x-10{
    padding: 0 10px;
}
.m-xl-5{
    margin-left: 5px;
}
/* Background Color */
.bg-black{
    background-color: black;
}
.bg-grey{
    background-color: grey;
}
.bg-darkgrey{
    background-color: #222222;
}

/* Font */
.f-white{
    color: white;
}
.f-green{
    color: green;
}
.f-red{
    color: red;
}

.f-medium{
    padding-top: 10px;
    font-weight: 500;
}
.f-big{
    font-size: 2em;
}
/* Flexbox */
.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.justify-center{
    justify-content: center;
}
.justify-space_around{
    justify-content: space-around;
}
.justify-space_between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}

